gunicorn==23.0.0
flask==3.0.3
ultralytics==8.2.0
torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.18.0 --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless==4.10.0.84
pillow==10.4.0
numpy==1.26.4
